.main {
  height: 100vh;
}

.articles-container {
  /* height: 100vh; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.articles-container h3 {
  margin: 0;
}
.articles-container p {
  margin: 0;
}

.article-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: pink; */
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.article-options h1 {
  margin: 0;
}

.article-options span {
  color: #b3a577;
}

.article-options ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.article-options ul a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.article-options ul a:hover {
  opacity: 50%;
  transition: 0.3s ease;
}

.latest-article {
  /* background-color: grey; */
  /* flex: 1; */
  /* width: 50%; */
  /* padding: 10px; */
  padding-top: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.latest-article:hover {
  background-color: #232323;
  transition: 0.5s ease;
  border: none;
  color: #fff;
}

.latest-article h3 {
  padding-top: 24px;
}

.latest-text {
  padding: 0px 20px;
  line-height: 1.4rem;
}

.articles-preview {
  /* background-color: rgba(240, 255, 255, 0.386); */
  /* flex: 1; */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid grey;
	border-radius: 10px; */
}

h3 {
  padding-bottom: 10px;
}

.text {
  font-size: 14px;
  line-height: 1.4rem;
}

.preview {
  display: flex;
  /* background-color: rgba(255, 192, 203, 0.573); */
  /* margin: 10px 0; */
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  /* margin-bottom: 10px; */
}

.preview:hover {
  background-color: #232323;
  transition: 0.5s ease;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.articles-preview .text {
  padding: 0 20px;
}

.latest-img {
  background-color: pink;
  width: 500px;
  margin: 0 auto;
  height: 320px;
}

.latest-img img,
.preview-img img {
  width: 100%;
  height: 100%;
}

.preview-img {
  height: 115px;
  width: 450px;
  background-color: slateblue;
}

@media (max-width: 1000px) {
  .articles-container {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .latest-article {
    width: 100%;
    padding: 20px;
  }

  .latest-text {
    padding: 0px;
    line-height: 1.4rem;
  }

  .articles-preview {
    width: 100%;
    flex-direction: column;
  }

  .articles-preview .text {
    width: 75%;
    padding: 20px 0;
    flex: 2;
  }

  .latest-img {
    background-color: pink;
    width: 100%;
    /* margin: 0 auto; */
    /* height: 320px; */
  }

  .preview-img {
    /* height: 150px; */
    width: 250px;
    /* float: left; */
    /* background-color: slateblue; */
  }
  .preview {
    flex-direction: column;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid grey;
  }

  .articles-preview .last {
    border: none;
  }

  .article-options {
    flex-direction: column;
    align-items: flex-start;
    justify-content: inherit;
  }

  .article-options ul {
    /* background-color: grey; */
    width: 100%;
    /* justify-content: space-between; */
  }
}
