.main {
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	/* background-color: #8f8f8f; */
	width: 80%;
	margin: 0 auto;
	margin-top: 150px;
	/* padding-bottom: 100px; */
}

.social-container {
	width: 50%;
	/* height: 100%; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	/* background-color: pink; */
	padding: 10px;
	padding-right: 60px;
}

.social-container h1 span {
	color: #b3a577;
}
.social-container h1 {
	font-size: 42px;
	margin: 0;
	padding-bottom: 40px;
}

.social-container p {
	/* padding-right: 150px; */
	margin: 0;
	font-size: 20px;
	line-height: 1.6rem;
	padding-bottom: 40px;
}

.social-container .social-links {
	font-size: 28px;
	padding: 10px;
}

.social-links i {
	cursor: pointer;
	margin-right: 30px;
}

.social-links i:hover {
	color: #b3a577;
	transition: 0.3s ease;
}

.form {
	margin: 0;
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	background: linear-gradient(#090909, #1e1e1e);
	/* border: 1px solid #ffffff20; */
	border-radius: 15px;
	padding: 10px;
	/* padding-bottom: 0; */
}

.form .details {
	width: 100%;
	display: flex;
	gap: 5px;
}

.details .name,
.email {
	width: 50%;
	padding: 20px 10px;
	border-radius: 15px;
	border: none;
	outline: none;
	background-color: #232323;
	color: gray;
}

.form #textArea {
	border-radius: 10px;
	padding: 20px 10px;
	padding-bottom: 250px;
	background-color: #232323;
	border: none;
	outline: none;
	color: gray;
}

.submit {
	cursor: pointer;
	width: 100%;
	padding: 20px 10px;
	border-radius: 50px;
	border: none;
	outline: none;
	background-color: #fff;
	font-weight: 600;
	font-size: 18px;
}

.submit:hover {
	opacity: 50%;
	transition: 0.3s ease;
	background-color: #232323;
	color: #fff;
}
@media (max-width: 1000px) {
	.main {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.social-container {
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
		padding-right: 0;
	}

	.social-links i {
		margin-right: 15px;
		margin-left: 15px;
	}

	.form {
		width: 100%;
		margin-bottom: 50px;
	}

	.form #textArea {
		padding-bottom: 150px;
	}

	.social-container h1 {
		font-size: 38px;
	}

	.social-container p {
		font-size: 18px;
		line-height: 1.5rem;
	}
}
